body {
             background:  linear-gradient(180deg, rgb(255, 255, 255), rgb(0, 0, 0));; 
             color: red;
             font-family: monospace;
             height: 100vh;
             text-align: center;
             /* text-shadow: 2px 2px 0 #000; */
             font-size: 1.5em;
             font-family: Allenoire Free Personal;
}
.logo{
    margin-right:200px;
}
.name{
    margin-left: 40px;
}




.logo2{
    height:70px;
    width: 70px;
    border-radius: 100px;
    margin-right:30px; 
}

.grid{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    margin-bottom: 40px;
    margin-left: 163px; 
}
.card{
    margin-bottom: 30px;

}

/* .grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
} */

.nav-item{
    margin-right:50px;
}
li a:hover {
    color: #ffe; /* Цвет текста активного пункта */
   border: 2px;
   }

.list-group-item{
    width: 100%;
}

.header{
    position: static!important;
}

.card-img-top{
    width: 286px;
    height: 390px;

}

#card1{
    margin-top: 110px;
}

.header{
    width: 100%;
    height: 60px;
    position: fixed;
    background: #fff;
    z-index: 1000;
    
}


a {
    text-decoration: none;
    color: #000000 !important;

}


.table2{
   margin-left: 150px;
  width: 100px;
  /* height: 100px; */
  border-spacing: 400px;
 
}
.td2{
    margin-left: 50px;
    
}

.td3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 120px;
}



.footer{
    background-color: #fff;
    height:150px;
 
}
.con{
    display: flex;
align-content: center;
justify-content: center;
border-bottom: 2px solid black;
height: 30px;
margin-top: 30px;
}
.contact{
    margin-top: 50px;
    margin-left: 120px;
    width: 175px;
    height: 20px;
   
}
.email{
    display: inline-flex;
    display: flex;
    
    flex-wrap: nowrap;
    justify-content: flex-end;
align-self: flex-end;
align-content: flex-end;
align-items: flex-end;
}
.int{
    display: flex;
    align-content: center;
    justify-content: center;
    border-bottom: 2px solid black;
     
   
}
.inter{
    margin-left: 400px;
    width: 175px;
    height: 30px;
   
}

.img_footer{
    height: 40px;
    width: 40px;
    margin-right: 10px;
    margin-top: 20px;
    border-radius: 100px;

}

.topbutton{
    border-radius: 100%;
    height: 70px;
    width:70px;
    background-color: rgba(255,255,255,0.4);
    text-align:center;
    padding:10px;
    position:fixed;
     bottom:50px;
    right:50px; 
    cursor:pointer;
    
    
    

}


.page-footer {
    background-color: #fff;
}       